body{
  font-family: 'Noto Sans', sans-serif;
}
.content{
  min-height: 500px !important;
}
form label{
  font-weight: bold;
}
nav, nav ul.dropdown-menu{
  background-color:#A020F0 !important;
}
nav ul li a{
  color:#ffffff !important;
}
.dataTables-wrapper{
  margin: 2000px !important;
}

.panel{
	/* border:1px solid #A020F0 !important;
	border-radius: 4px !important; */
	padding-bottom: 20px;
}
.panel-heading{
	background-color:#A020F0 !important;
	color:#FFFFFF;
	font-size: 24px;
	min-height: 20px;
	padding: 5px 15px 5px 15px !important;
}
.panel-body{
	font-size: 14px;
	min-height: 20px;
	vertical-align: middle;
	padding: 5px 15px 5px 15px !important;
}